<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>arctic fox1</key>
		<string>nap time</string>
	</dict>
	<dict>
		<key>arctic fox2</key>
		<string>eyes emoji</string>
	</dict>
	<dict>
		<key>arctic fox3</key>
		<string>summer bod</string>
	</dict>
	<dict>
		<key>arctic fox4</key>
		<string>having some fun</string>
	</dict>
	<dict>
		<key>ermine1</key>
		<string>peeking out</string>
	</dict>
	<dict>
		<key>ermine2</key>
		<string>on the lookout!</string>
	</dict>
	<dict>
		<key>ermine3</key>
		<string>a summer boy</string>
	</dict>
	<dict>
		<key>ermine4</key>
		<string>blending in with the snow</string>
	</dict>
	<dict>
		<key>ezo momonga1</key>
		<string>rotund</string>
	</dict>
	<dict>
		<key>ezo momonga2</key>
		<string>cozy in the cold snow</string>
	</dict>
	<dict>
		<key>ezo momonga3</key>
		<string>look! he is cute</string>
	</dict>
	<dict>
		<key>ezo momonga4</key>
		<string>some family time</string>
	</dict>
	<dict>
		<key>red panda1</key>
		<string>all curled up</string>
	</dict>
	<dict>
		<key>red panda2</key>
		<string>feelling lazy...</string>
	</dict>
	<dict>
		<key>red panda3</key>
		<string>babies!!</string>
	</dict>
	<dict>
		<key>red panda4</key>
		<string>playing in the snow</string>
	</dict>
</array>
</plist>
